{% extends "layout.html" %}
{% block title %}Locadora{% endblock %}

{% block content %}
<h1>Locadora de Veículos</h1>
<p><a class="btn" href="{{ url_for('locadora.cadastrar') }}">+ Nova locação</a></p>

{# TODO ALUNO: if locacoes + for locacao in locacoes #}
<table>
    <thead>
        {% if locacoes %}
        <tr>
            <th>Cliente</th>
            <th>Veículo</th>
            <th>Início</th>
            <th>Fim</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        {% for locacao in locacoes %}
        <tr>
            <!-- TODO ALUNO: {{ locacao.cliente.nome }}, placa, datas, valor -->
            <td>{{locacao.cliente.nome}}</td>
            <td>{{locacao.veiculo.placa}}</td>
            <td>{{locacao.data_inicio}}</td>
            <td>{{locacao.data_fim}}</td>
            <td>{{locacao.valor_total}}</td>
        </tr>
        {% endfor %}
    {%endif%}
    </tbody>
</table>
{% endblock %}
