<!--Esse template herda no extends o layout.html
ELe tem estruturas básicas de layout-->

{% extends 'layout.html' %}


{% block title %}

Sobre o Flask



{% endblock %}

{% block content %}
<h1 class="desine">Sobre o Flask</h1>

<p class="desine">Conteúdo de página sobre o Flask

    O Flask é um microframework para Python baseado em Werkzeug e Jinja2. Ele é leve e flexível, permitindo que os desenvolvedores criem aplicações web de forma simples e rápida. O Flask oferece recursos essenciais para o desenvolvimento web, como roteamento, manipulação de requisições e respostas, e suporte a templates.
</p>
{% endblock %}