<!--Esse template herda no extends o layout.html
ELe tem estruturas básicas de layout-->

{% extends 'layout.html' %}


{% block title %}


Index



{% endblock %}

{% block content %}
<h1 class="desine">Aula 4 de Flask

</h1>



<p class="desine"> Na nossa jornada já aprendemos a criar rotas, renderizar templates e usar variáveis. Agora, vamos dar um passo adiante e criar um menu de navegação para o nosso site Flask. O menu permitirá que os usuários acessem diferentes páginas do site, como "Sobre Python", "Sobre o Flask" e "Sobre ser estudante de TI". Cada página terá seu próprio conteúdo específico, mas todas compartilharão a mesma estrutura básica definida no template layout.html. O menu de navegação será implementado usando links que apontam para as rotas correspondentes no Flask, facilitando a navegação entre as páginas do site.
    </p>
    <p class="desine">
    Nesta aula, vamos criar um menu de navegação para o nosso site Flask. O menu permitirá que os usuários acessem diferentes páginas do site, como "Sobre Python", "Sobre o Flask" e "Sobre ser estudante de TI". Cada página terá seu próprio conteúdo específico, mas todas compartilharão a mesma estrutura básica definida no template layout.html. O menu de navegação será implementado usando links que apontam para as rotas correspondentes no Flask, facilitando a navegação entre as páginas do site.

</p>

<h2 class="desine"> Vocês terão que lembrar das aulas do Susu </h2>

{% endblock %}