<!--Esse template herda no extends o layout.html
ELe tem estruturas básicas de layout-->

{% extends 'layout.html' %}


{% block title %}

Sobre a linguagem Python



{% endblock %}

{% block content %}
<h1 class="desine">Sobre a linguagem Python</h1>

<p class="desine">Conteúdo de página sobre Python

    Python é uma linguagem de programação de alto nível, interpretada e de propósito geral. Ela é conhecida por sua sintaxe clara e legibilidade, o que a torna uma ótima escolha para iniciantes e profissionais experientes. Python suporta múltiplos paradigmas de programação, incluindo programação orientada a objetos, funcional e procedural. É amplamente utilizada em diversas áreas, como desenvolvimento web, ciência de dados, inteligência artificial, automação e muito mais. A comunidade ativa e a vasta quantidade de bibliotecas disponíveis tornam Python uma das linguagens mais populares do mundo.
</p>
{% endblock %}