<!--Esse template herda no extends o layout.html
ELe tem estruturas básicas de layout-->

{% extends 'layout.html' %}


{% block title %}

Sobre ser estudante de TI



{% endblock %}

{% block content %}
<h1 class="desine">Sobre ser estudante de TI</h1>

<p class="desine">Conteúdo de página sobre ser estudante de TI

    Ser estudante de TI é nunca parar de aprender. Todo dia cada coisa nova surge, seja uma nova linguagem de programação, um novo framework ou uma nova tecnologia. A área de TI é dinâmica e em constante evolução, o que torna a jornada de um estudante de TI emocionante e desafiadora. Envolve aprender sobre programação, redes, segurança da informação e muito mais. É uma área em constante evolução, com muitas oportunidades de carreira e a possibilidade de contribuir para o desenvolvimento de tecnologias que transformam o mundo.
    
   
</p>
{% endblock %}